---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Jacob Banghart"
  description="About Jacob Banghart Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-play.webp"
          alt="Jacob Banghart enjoying a magic convention"
          class="contain"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am a Full Stack Engineer II at Raven Industries, aquired by CNH,
            with over 4 years of professional software development experience.
            Specializing in full-stack development, I have demonstrated
            expertise in building and maintaining enterprise-level applications,
            particularly in the agricultural technology sector. I have completed
            a Master's degree in Computer and Information Systems with a
            specialization in Data Management at Dakota State University. My
            technical expertise spans both front-end and back-end development,
            with proficiency in technologies including JavaScript, TypeScript,
            React, MySQL. In my current role, I lead critical initiatives in API
            development of hardware and user management systems, while also
            maintaining and upgrading legacy systems. I have played a key role
            in the CNHI integration project. Additional experience in
            construction financial services from my experience at Lien
            Management Solutions (LMS).
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Masters of Computer Information Systems - Dakota State University
            (3.55 GPA)
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul class="skills-ul">
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>React *</li>
            <li>MySQL</li>
            <li>REST APIs</li>
            <li>GraphQL</li>
            <li>Node.js</li>
            <li>Nestjs</li>
            <li>Next.js</li>
            <li>Astro *</li>
            <li>Express</li>
            <li>CI/CD *</li>
            <li>Kubernetes *</li>
            <li>Docker *</li>
            <li>Datadog</li>
            <li>Traefik</li>
            <li>Nginx</li>
          </ul>
        </div>
        <div class="content">
          <p>* This site is currently using this technology</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
    .skills-ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
</style>
